<div class="card-category" style="height: 90vh; background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://i.ibb.co/pyYXnQv/Capture-d-e-cran-2022-09-01-a-12-45-27.png); background-position: top ;">
  <h1>Zoulou Gang</h1>
</div>

<div class="container m-5 p-5 text-center">
  <br>
  <h2><strong>We provide services to better improve the community you live in.</strong></h2>
  <p>Wheeloc, a global and digital marketplace to share your vehicles, provides customers with an alternative to car ownership. Wheeloc is a new concept designed to satisfy our customers' needs. You can join our website as a buyer looking for vehicles to rent for your desired duration, or as a seller trying to rent out your vehicle(s).</p>
  <br>
  <h2><strong>Our mission is to satisfy our customers' needs by finding the right fit for them whether they are a buyer or a seller!</strong></h2>
  <p>Wheeloc improves everyone’s quality of life, including people who can’t own cars or don’t have access to the vehicles they need. Our connected vehicle technology allows guests to book a wide variety of vehicles directly from our app without ever having to meet anyone in person, carry an access card, wait in line, or coordinate picking up keys.</p>
  <br>
  <b>It's simpler and less time consuming...</b>
</div>

  <div class="card-group">
    <div class="card col-3 m-4 p-2 border-0 " style="background-color: #f4f4f4">
      <div class="text-center">
      <img src="https://cdn-icons-png.flaticon.com/512/50/50268.png" loading="lazy" alt="Insurance included" style="width: 38%;">
      </div>
        <h4 class="text-center mt-4">Get paid</h4>
        <p class="text-center">Personalized earnings reports and our predictive pricing algorithm help hosts maximize monthly earnings.</p>
    </div>

    <div class="card col-3 m-4 p-2 border-0" style="background-color: #f4f4f4">
    <div class="text-center">
      <img src="https://www.svgrepo.com/show/93010/car-insurance.svg" loading="lazy" alt="Insurance included" style="width: 39%;">
    </div>
      <h4 class="text-center mt-4">Insurance included</h4>
      <p class="text-center">Trips on Wheeloc are covered by insurance during an active trip.</p>
    </div>

    <div class="card col-3 m-4 p-2 border-0" style="background-color: #f4f4f4">
      <div class="text-center">
        <img src="https://cdn4.iconfinder.com/data/icons/midlife-crisis/299/man-problem-012-512.png" loading="lazy" alt="Contactless sharing" style="width: 45%;">
      </div>
      <h4 class="text-center mt-2">Contactless sharing</h4>
      <p class="text-center">The Wheeloc Connect® device allows guests to unlock your car with the Wheeloc app during a trip.</p>
    </div>

    <div class="card col-3 m-4 p-2 border-0" style="background-color: #f4f4f4">
      <div class="text-center">
        <img src="http://cdn.onlinewebfonts.com/svg/img_37966.png" loading="lazy" alt="Wheeloc support" style="width: 30%;">
      </div>
      <h4 class="text-center mt-4">Safe &amp; trustworthy</h4>
      <p class="text-center">All Wheeloc guests must pass a driver safety screening, and we provide 24/7 host support.<br></p>
    </div>
  </div>
</div>
