<div class=" m-5 p-5 text-center">
  <section>
    <div class="row d-flex justify-content-center">
      <div class="col-md-10 col-xl-8 text-center">
        <h3 class="mb-4">LA GAZETTE DE CASABLANCA</h3>
        <p class="mb-4 pb-4 mb-md-5 pb-md-0">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, error amet
          numquam iure provident voluptate esse quasi, veritatis totam voluptas nostrum
          quisquam eum porro a pariatur veniam.
        </p>
      </div>
    </div>

    <div class="row text-center row d-flex justify-content-center">
      <div class="col-md-4 mb-5 mb-md-0 text-center">
        <a href="https://github.com/aqs33" class="text-decoration-none link-dark text-center">
          <div class="card testimonial-card text-center">
            <div class="card-up" style="background-color:#4AA3A2;"></div>
            <div class="avatar mx-auto bg-white">
              <img
                src="https://res.cloudinary.com/wagon/image/upload/c_fill,g_face,h_200,w_200/v1660089985/c9uj2olisbiviggvufed.jpg"
                class="rounded-circle img-fluid" />
            </div>
            <div class="card-body">
              <h4 class="mb-4">Amine</h4>
              <hr />
              <p class="dark-grey-text mt-4">
                <i class="fas fa-quote-left pe-2"></i>Neque cupiditate assumenda in maiores
                repudi mollitia architecto.
              </p>
            </div>
          </div>
        </a>
      </div>


            </div>
          </div>
        </a>
      </div>
    </div>
  </section>
</div>

  <div>
    <br>
    <br>
    <br>
    <div class="container m-5 p-5 text-center">
      <br>
      <h5><strong>We provide services to better improve the community you live in.</strong></h5>
      <p>La gazette de Casablanca, Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, error amet numquam iure provident voluptate esse quasi, veritatis totam voluptas nostrum quisquam eum porro a pariatur veniam..
      </p>
      <br>
      <h5><strong>Our mission is to satisfy the needs of our customers by finding the solution that suits them, whether they are readers or authors!</strong></h5>
      <p> La gazette de CasablancaLorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, error amet numquam iure provident voluptate esse quasi, veritatis totam voluptas nostrum quisquam eum porro a pariatur veniam.</p>
      <br>
      <b>It's simpler and less time consuming...</b>
    </div>
    <br>
    <br>
