<br>
 <div class="cardshow">
 <iframe style="height:80vh;"src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3323.495442023489!2d-7.636663684886645!3d33.592447380733645!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xda7d2ed3d63c7fb%3A0x36dbf0c60b1f4a61!2sRue%20de%20Tunisie%2C%20Casablanca%2020250!5e0!3m2!1sfr!2sma!4v1662311067109!5m2!1sfr!2sma" width="450" height="100" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

   <main class="card__content">
   <h3 class="mt-2">Contact</h3>
   <br>
      <form class="simple_form contact_us p-1" accept-charset="UTF-8" method="post">
    <div class="form-inputs">
      <div class="mb-3"><label class="form-label string optional"></label><input class="form-control string optional bg-white" type="text" name="offer[title]" id="offer_title" placeholder="Name"></div>
      <div class="mb-3"><label class="form-label string optional"></label><input class="form-control string optional bg-white " type="text" id="offer_description" placeholder="Mail"></div>
      <div class="mb-3"><label class="form-label float optional"></label><input class="form-control string optional bg-white " type="text" placeholder="City"></div>
      <div class="mb-3"><label class="form-label text optional"></label><textarea class="form-control text optional bg-white " type="text" placeholder="Message"></textarea></div>
      <div class="text-center">
<br>
        <input type="submit" name="commit" value="Submit" class="btn btn-success text-white text-align-center rounded" data-disable-with="Create offer">
      </div>
    </div>
  </form>


      <br>

    </div>
   </main>
</div>

<br>
<br>
<br>
<br>
