<h3 class="text-center m-3">Get in touch with us</h3>
<div class=" container w-50 border p-4 bg-white rounded mt-5 mb-5" style="opacity:80%">
  <form class="simple_form contact_us p-1" accept-charset="UTF-8" method="post">
    <div class="form-inputs">
      <div class="mb-3"><label class="form-label string optional">Name</label><input class="form-control string optional bg-white" type="text" name="offer[title]" id="offer_title"></div>
      <div class="mb-3"><label class="form-label string optional">Mail</label><input class="form-control string optional bg-white " type="text" id="offer_description"></div>
      <div class="mb-3"><label class="form-label float optional">City</label><input class="form-control string optional bg-white " type="text"></div>
      <div class="mb-3"><label class="form-label text optional">Message</label><textarea class="form-control text optional bg-white " type="text"></textarea></div>
      <div class="text-center">
        <input type="submit" name="commit" value="Submit" class="btn btn-dark text-align-center rounded" data-disable-with="Create offer">
      </div>
    </div>
  </form>
</div>
