<div class="banner  d-flex align-items-end p-5" style="background-image: url(https://images.unsplash.com/photo-1531181616225-f8e50c1ab53e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80);">
  <div>
        <h1 >Easy way to rent a car at a low price</h1>
        <p>Providing cheap car rental services and safe and comfortable facilities.</p>
        <a class="btn btn-light" href="/offers">Browse</a>
  </div>
</div>
