.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
.highlighted-red {
  color: #e60f05;
  color: var(--red);
}

li.active{
  padding: 0.1875em;
  background-color: var(--bs-highlight-bg) !important;
}
